[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-gitlab = "*"
tqdm = "*"
pymongo = {extras = ["srv"], version = "*"}
dotenv = "*"
google-genai = "*"
streamlit = "*"
google-cloud-secret-manager = "*"
requests = "*"
flask = "*"
baml-py = "==0.90.2"

[dev-packages]

[requires]
python_version = "3.11"
